*
{
    margin: 0;
    padding: 0;
}

/*------------------------------NavigationBar------------------------------*/
#nav-bar
{
    position: fixedfi;/*sticky;*/
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #000000!important;
    background-color: #c7851c;
}
.navbar
{
    background: #c7851c;
}
.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #000000!important;
    font-weight: 600;
    font-size: 18px;
    padding-left: 40px;
}

/*------------------------------EndNavigationBar------------------------------*/
/* store items */


.card
{
    overflow: hidden;
    position: relative;
    
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
}
.store-img {
  transition: all 1s ease-in-out;
  
}

.img-container:hover .store-img {
  transform: scale(1.2);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background color: rgb(199, 133, 28);
  background: rgba(199, 133, 28, 0.5);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
  
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0);
  
}
.store-item-icon:hover {
  color: #fff;
}
.store-item-value {
  color: wheat;
}
 /*-------------------------------------------------------------------------*/

footer
{
    background-color: #c7851c;
}