*
{
    margin: 0;
    padding: 0;
}

/*------------------------------NavigationBar------------------------------*/
#nav-bar
{
    position: fixedfi;/*sticky;*/
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #000000!important;
    background-color: #c7851c;
}
.navbar
{
    background: #c7851c;
}
.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #000000!important;
    font-weight: 600;
    font-size: 18px;
    padding-left: 40px;
}

/*------------------------------EndNavigationBar------------------------------*/

body
{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container
{
    text-align: center;
}

h1
{
    text-align: center;
}
.login-form
{
    background color: rgb(199, 133, 28);
    background: rgba(199, 133, 28, 0.5);
    width: 540px;
    height: 600px;
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    
}

label
{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

input[type="text"] ,input[type="email"]
{
    background-color: #FFFFCC;
    width: 270px;
    height: 35px;
    border: 1px;
    border-radius: 4px;
    resize: vertical;
    font-size: 18px;
    margin-right: 30px;
    padding: 10px 10px;
    float: right;
}


input[type="password"] 
{
    width: 270px;
    height: 35px;
    float: right;
    border: 1px;
    border-radius: 4px;
    resize: vertical;
    font-size: 18px;
    margin-right: 30px;
    padding: 10px 10px;
    background-color: #FFFFCC;
    
}

input[type=submit] {
  background-color: #fff;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: lemonchiffon;
}

/*-------------------------------------------------------------------------*/

footer
{
    background-color: #c7851c;
}
